body {
  background: $n-white;
  @include media(tablet) {
    display: flex;
  }
}

header {
  background: url($bg-main-mobile);
  background-size: cover;
  height: 34.1vh;
  min-height: 240px;
  max-height: 300px;
  position: relative;
  @include media(tablet) {
    background: url($bg-main-desktop);
    max-height: none;
    min-height: 535px;
    height: 100vh;
    width: 50.5vw;
    max-width: 485px;
  }
}

@include media(tablet) {
  main {
    width: 100%;
    @include flexColumn(center);
    align-items: center;
  }
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4108018207282913) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  & a:nth-child(1) {
    font-size: 10px;
  }
  & a:nth-child(2) {
    font-size: 11px;
    color: hsl(228, 45%, 44%);
  }
}
