.card {
  min-width: 286px;
  max-width: 445px;
  width: 50vw;
  position: absolute;
  border-radius: 6px;

  @include media(tablet) {
    transition: transform 400ms ease-in;
  }

  &--back {
    background: url($bg-card-back);
    top: 32px;
    right: 16px;
    background-size: 100% 100%;
    position: absolute;

    @include media(mobile-large) {
      top: 50%;
      right: 50%;
      transform: translate(96%, -49%);
    }

    @include media(tablet) {
      transform: translate(103%, 8%);
    }
  }

  &--front {
    background: url($bg-card-front);
    top: 126px;
    left: 16px;
    background-size: 100% 100%;

    @include media(mobile-large) {
      top: 50%;
      left: 50%;
      transform: translate(-96%, -10%);
    }

    @include media(tablet) {
      left: auto;
      transform: translate(37%, -107%);
    }
  }
}

// card ifos
.cardInfos {
  padding: 6.7%;
  @include flexColumn;
  width: 100%;
  height: 100%;
  color: $n-white;

  &__logo {
    width: 21.2%;
  }

  &__details {
    height: 45%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;

    & .numbers__container {
      display: flex;

      justify-content: space-between;
      width: 97%;
      font-size: 10px;

      @include media(mobile-large) {
        margin-left: 5px;
        margin-top: 8px;
        width: 95%;
      }

      & .single__number {
        font-size: 15px;
        font-size: clamp(15px, 2vw + 0.1em, 25px);
        letter-spacing: 0px;
      }
    }

    & .name {
      min-width: 70%;
      max-width: 85%;
      flex-grow: 1;
      font-size: 11px;
      font-size: clamp(11px, 1.7vw + 0.1em, 17.5px);
      text-transform: uppercase;
      align-self: flex-end;
    }
    & .exp,
    .exp span {
      font-size: 12px;
      font-size: clamp(12px, 1.7vw + 0.1em, 17.5px);
    }
  }
}

.card__cvc {
  position: absolute;
  color: $n-white;
  right: 17%;
  bottom: 50%;
  transform: translate(50%, 50%);
  font-size: 11px;
  font-size: clamp(11px, 1.7vw + 0.1em, 17.5px);
}
