.complete {
  @include flexColumn();
  align-items: center;
  min-height: 190px;
  min-width: 100%;
  margin-bottom: 40px;

  &__heading {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3.5px;
    margin-top: 17px;
  }

  &__text {
    color: darkgrey;
  }
}
