form {
  margin: 80px auto 0 auto;
  margin: clamp(65px, 9vw + 1em, 100px) auto 0 auto;
  padding: 26px 24px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;

  @include media(tablet) {
    transform: translate(60px, -30px);
    width: 433px;
    margin-top: 65px;
  }

  & input {
    width: 100%;
    height: 45px;
    margin-top: 8px;
    padding: 0 14px;
    border: 2px solid $n-light-violet;
    @include radius;

    &::placeholder {
      color: $n-light-violet;
    }

    &:focus {
      outline: none;
      border: 2px solid transparent;
      background-image: linear-gradient(white, white), $p-gradient;
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}

label {
  color: $n-dark-violet;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  @include media(tablet) {
    margin-bottom: 25px;
  }
}

.group {
  display: flex;
  & label {
    flex-basis: 50%;
  }
  &--1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    & input {
      width: 70px;
    }
  }
}

.btn {
  width: 100%;
  height: 53px;
  background: $n-dark-violet;
  color: $n-light-violet;
  border: none;
  margin-top: 7px;
  cursor: pointer;
  @include radius;
  transition: color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  &:hover {
    background: lighten($color: $n-dark-violet, $amount: 15%);
    color: lighten($color: $n-light-violet, $amount: 15%);
  }

  @include media(tablet) {
    margin-top: 15px;
  }
}

.input__error,
.input__error:focus {
  border: 2px solid $p-red;
  animation: error 300ms ease-in-out;
}

.text__error {
  margin: 10px 0px 0px 3px;
  font-size: 12px;
  letter-spacing: 0;
  color: $p-red;
  text-transform: none;
  font-weight: 400;
}
